.headerdashboard {
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
}

.headerdashboard h1 {
    font-size: 13rem;
    color: #D92332;
}

.logodashboard {
    width: 24%;
    height: 30vh;
}

.dashboardbas {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logodashboard .carsdashboard {
    background: url(../assets/cars.png);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logodashboard .horairesdashboard {
    background: url(../assets/Horaires.png);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logodashboard .servicesdashboard {
    background: url(../assets/Service.png);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logodashboard .usersdashboard {
    background: url(../assets/Users.png);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block {
    display: block;
    background-color: #262526;
    height: 60vh;
}

.basdash {
    width: 50%;
    padding: 1rem;
    background-color: #D92332;
    border: 2px solid white;
}

.basdash a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: black;
    padding: .5rem;
    border: 1px solid white;
    transition: .3s ease-in-out;
}

.basdash a:hover {
    background-color: white;
    color: #262526;
}

.dashemp {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.flex {
    display: flex;
}

.gauchedsh {
    width: 50%;
    display: flex;
    padding: .3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}

.gauchedsh h2 {
    margin-right: 2rem;
}

.infoadmin {
    width: 50%;
}