.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.containeruser {
  padding: 2rem;
  background-color: #282c34;
  height: 100vh;
}

.userslist {
  background-color: white;
  border: 2px solid #D92332;
  padding: .5rem;
}

.pagination {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  background-color: #D9777F;
  border: 1px solid #262526;
  margin: 10px 10rem;
}

.pagination a {
  padding: .5rem;
  border: 3px solid #262526;
  margin: 2px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.pagination a:hover {
  margin: 5px;
  color: white;
  background-color: #262526;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
