.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.containeruser {
  padding: 2rem;
  background-color: #282c34;
  height: 100vh;
}

.userslist {
  background-color: white;
  border: 2px solid #D92332;
  padding: .5rem;
}


/* ----------------------- ------------------------------- ---------------------*/

.pagination {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  background-color: #D9777F;
  border: 1px solid #262526;
  margin: 10px 10rem;
}

.pagination a {
  padding: .5rem;
  border: 3px solid #262526;
  margin: 2px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.pagination a:hover {
  margin: 5px;
  color: white;
  background-color: #262526;
}



/* ----------------------- ------------------------------- ---------------------*/

.engagement {
  display: block;
  width: 100%;
  height: 50vh;
  background-color: #26252617;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.engagement h2 {
  padding: 2rem;
}

.tousengagements {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
}

.divengagement {
  width: 19%;
}

.login {
  width: 50%;
  height: 50vh;
  padding: 1rem;
  margin-left: 25%;
  margin-top: 3rem;
  background-color: #0000004e;
}

.login h1 {
  padding: .5rem;
}

.login input {
  display: block;
  padding: .4rem;
  width: 60%;
  margin-left: 20%;
  margin-bottom: .3rem;
}

.login button {
  padding: .3rem;
  background-color: black;
  color: white;
  border: 1px solid #0000004e;
  margin: .5rem;
  cursor: pointer;
}

.login a {
  background-color: #262526;
  padding: .4rem;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 390px) {
  .engagement {
    display: none;
  }

  .login {
    width: 50%;
    margin-left: 25%;
    background-color: #0000004e;
    margin-top: 2rem;
    display: block;
  }
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
